@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway.ttf"); }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat.ttf"); }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto.ttf"); }
body {
  width: 1920px;
  margin: 0 auto; }

header {
  position: relative;
  width: 100%;
  min-height: 1024px;
  background: url(../img/bg.png);
  background-color: #221c19;
  background-repeat: no-repeat;
  background-size: cover; }

header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.header-wrp {
  position: relative;
  z-index: 3; }

.header-top {
  width: 1220px;
  min-height: 140px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  box-sizing: border-box; }

.logo {
  width: 185px;
  height: 56px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 115px 0 0;
  color: #ffffff; }

.logo-svg {
  fill: currentColor; }

.logo-txt {
  font-family: Raleway, sans-serif;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
  letter-spacing: -1.36px; }

.logo:hover {
  color: #c7b299; }

.menu-list {
  list-style-type: none;
  margin: 0; }

.menu-list-item {
  float: left; }

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding-left: 30px; }

.menu-link:hover {
  color: #c7b299; }

.menu-link:active {
  color: #ffffff; }

.cart {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  margin: 0 30px 0 60px; }

.cart:hover {
  background-color: #c7b299; }

.cart:active {
  background-color: transparent; }

.search {
  width: 30px;
  height: 30px;
  margin: 0 0 0 0;
  position: relative; }

.search-label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.search-label:hover {
  background-color: #c7b299; }

.search-label:active {
  background-color: transparent; }

.search-input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -90px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize; }

.search-input:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff; }

.slider {
  padding: 135px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1280px;
  min-height: 400px;
  margin: 0 auto;
  position: relative; }

.slider-btn {
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  opacity: 0.5;
  border-top: 2px solid white;
  border-right: 2px solid white; }

.slider-btn:nth-of-type(1) {
  transform: rotate(225deg);
  position: absolute;
  bottom: 200px;
  left: -150px; }

.slider-btn:nth-of-type(2) {
  transform: rotate(45deg);
  position: absolute;
  bottom: 200px;
  right: -150px; }

.slider-btn:hover {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299; }

.slider-btn:active {
  border-top: 2px solid white;
  border-right: 2px solid white; }

.slider-txt {
  width: 50%;
  min-height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center; }

.slider-txt-title,
.slider-txt-title2 {
  width: 100%; }

.slider-txt-title {
  font-family: Raleway, sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff; }

.slider-txt-title2 {
  font-family: Raleway, sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #ffffff; }

.slider-txt-content {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff; }

.slider-txt-btn {
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3.0px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 53px;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  top: 448px; }

.slider-txt-btn:hover {
  background-color: #52463b; }

.slider-txt-btn:active {
  background-color: #998675; }

.slider-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  position: absolute;
  top: 825px;
  left: -3px; }

.slider-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #969493;
  border: 1px solid #fff; }

.slider-pagination-item:hover {
  background-color: transparent;
  transform: scale(1.2);
  border: 1px solid gold; }

.slider-pagination-item-active {
  background-color: #252429;
  width: 15px;
  height: 15px;
  border: 1px solid #fff; }

.features {
  min-height: 375px;
  width: 100%;
  padding: 90px 0 80px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

.features-item {
  width: 305px;
  min-height: 200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.features-item-icon {
  margin-bottom: 15px;
  fill: #555555; }

.features-item:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9; }

.features-item-title {
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555; }

.features-item-text {
  margin-bottom: 25px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center; }

.features-item:hover .features-item-icon {
  fill: #c7b299; }

.features-item:hover .features-item-title {
  color: #c7b299; }

.features-item:hover:after {
  background-color: #c7b299; }

.examples {
  width: 100%;
  min-height: 700px;
  background-color: #fbfaf8;
  background-image: url(../img/examples_center.png), url(../img/examples_left.png), url(../img/examples_right.png);
  background-size: 41%, 41%, 41%;
  background-repeat: no-repeat;
  background-position: bottom center, 31% 100% , 69% 100%; }

.examples-title {
  margin: 0 auto;
  padding: 64px 0 0 0;
  font-family: Raleway, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: center; }

.examples-text {
  padding: 15px 0 0 0;
  margin: 0 auto;
  width: 757px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center; }

.aside {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  box-sizing: border-box; }

.aside-content {
  margin-right: 100px;
  width: 530px;
  height: 55px; }

.aside-title {
  margin: 0 0 0 0;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #c7b299; }

.aside-title span {
  color: #ffffff; }

.aside-text {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855; }

.aside-btn {
  width: 170px;
  min-height: 50px;
  background-color: #998675;
  border-radius: 3.0px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 50px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  text-decoration: none; }

.aside-btn:hover {
  background-color: #52463b; }

.aside-btn:active {
  background-color: #998675; }

.projects {
  margin: 60px auto 0 auto;
  width: 1170px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.projects-title {
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  text-align: center; }

.projects-txt {
  width: 737px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center; }

.projects-menu {
  width: 100%;
  margin: 20px 0 40px 0;
  text-align: center; }

.projects-menu-btn {
  width: 120px;
  height: 32px;
  margin: 0 7px 0 0;
  border: 1.0px solid #ebebeb;
  border-radius: 3.0px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  outline: none;
  background-color: #fff; }

.projects-menu-btn-active {
  width: 70px;
  height: 32px;
  background-color: #998675;
  border-radius: 3.0px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #ffffff; }

.projects-menu-btn:hover {
  background-color: #998675;
  color: #ffffff; }

.projects-menu-btn:active {
  background-color: #ffffff;
  color: #8c8c8c; }

.projects-item {
  width: 370px;
  margin: 0 20px 30px 0;
  position: relative; }

.projects-item-link {
  width: 26px;
  height: 26px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 205px;
  left: 145px;
  display: none;
  background-color: transparent;
  fill: #ffffff; }

.projects-item-lupa {
  width: 26px;
  height: 26px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 205px;
  left: 200px;
  display: none;
  background-color: transparent;
  fill: #ffffff; }

.projects-item:hover .project-item-img {
  filter: brightness(33%); }

.projects-item:hover .projects-item-link {
  display: block; }

.projects-item:hover .projects-item-lupa {
  display: block; }

.projects-item:hover .projects-item-link:hover {
  fill: #c7b299; }

.projects-item:hover .projects-item-lupa:hover {
  fill: #c7b299; }

.projects-item:hover .projects-item-bottom {
  background-color: #362f2d; }

.projects-item:hover .projects-item-bottom:after {
  border-bottom: 12px solid #362f2d; }

.projects-item:hover .projects-item-bottom-title {
  color: #fff; }

.projects-item:hover .projects-item-bottom-txt {
  color: #c7b299; }

.project-item-img {
  display: block; }

.projects-item-bottom {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #fbfaf8; }

.projects-item-bottom:after {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 12px solid #fbfaf8;
  bottom: 100px;
  left: 30px; }

.projects-item-bottom-title {
  padding: 25px 0px 0 30px;
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  color: #c7b299; }

.projects-item-bottom-txt {
  margin: 0;
  padding: 5px 0px 0 30px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #d1d1d1; }

.projects-btn {
  padding: 0;
  margin: 8px 0 0 0;
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3.0px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  border: 1.0px solid #ebebeb;
  outline: none; }

.projects-btn:hover {
  background-color: #c7c7c7; }

.projects-btn:active {
  background-color: #998675; }

.video {
  width: 100%;
  min-height: 705px;
  margin: 80px 0 0 0;
  position: relative;
  display: flex; }

.bg-video {
  width: 100%;
  height: 705px;
  object-fit: cover; }

.video-content {
  width: 560px;
  height: 300px;
  position: absolute;
  top: 212px;
  left: 682px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }

.video-play-btn {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2); }

.video-play-btn-icon {
  margin: auto;
  fill: #fff; }

.video-play-btn:hover .video-play-btn-icon {
  fill: #998675; }

.video-play-btn:active .video-play-btn-icon {
  fill: #fff; }

.video-title {
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  padding: 37px 0 0 0; }

.video-txt {
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding: 14px 0 0 0;
  margin: 0; }

.video-time {
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #c7b299;
  text-align: center;
  padding: 27px 0 0 0; }

.mobile {
  width: 100%;
  min-height: 695px;
  background-color: #fbfaf8;
  background-image: url(../img/mobile-bg.png);
  background-repeat: no-repeat;
  background-position: 423px 80px; }

.mobile-content {
  width: 657px;
  padding: 180px 0px 0px 877px; }

.mobile-content-title {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555; }

.mobile-content-text {
  margin-top: 25px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #8c8c8c; }

.mobile-content-list {
  list-style-type: none;
  margin: 40px 0 0 48px; }

.mobile-content-list-item {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: #8c8c8c;
  position: relative; }

.mobile-content-list-item:before {
  content: '';
  width: 21px;
  height: 21px;
  display: block;
  background-image: url(../img/marker.png);
  position: absolute;
  top: 5px;
  left: -41px; }

.stats {
  min-height: 300px;
  width: 100%;
  padding: 70px 0 60px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-image: url(../img/stats-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }

.stats-item {
  width: 140px;
  height: 171px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

.stats > div:nth-child(1),
.stats > div:nth-child(2),
.stats > div:nth-child(3),
.stats > div:nth-child(4) {
  margin: 0 58px 0 0; }

.stats-item-icon {
  margin-bottom: 15px;
  fill: #c7b299; }

.stats-item:after {
  content: "";
  display: block;
  width: 38px;
  height: 2px;
  background-color: #f1eee9; }

.stats-item-title {
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff; }

.stats-item-text {
  margin-bottom: 25px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  text-align: center; }

.posts {
  width: 100%;
  min-height: 755px;
  padding: 80px 0 80px 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.posts-article {
  position: relative;
  width: 370px;
  height: 395px;
  border: 1px solid #f8f8f8; }

.posts-article-img {
  margin: 0px 0 30px 0; }

.posts-title {
  width: 100%;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555; }

.posts-text {
  width: 757px;
  margin: 0 580px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #8c8c8c; }

.posts > article:nth-child(3),
.posts > article:nth-child(4) {
  margin: 0 30px 0 0; }

.posts-calendar {
  width: 50px;
  height: 60px;
  position: absolute;
  top: 27px;
  left: 23px;
  border-radius: 3px 3px 0px 0px; }

.posts-date {
  display: block;
  width: 100%;
  background-color: #363636;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #ffffff;
  border-radius: 3px 3px 0px 0px; }

.posts-month {
  display: block;
  width: 100%;
  background-color: #252525;
  text-align: center;
  border-radius: 0px 0px 3px 3px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff; }

.posts-article-title {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;
  color: #555555;
  padding-left: 30px; }

.posts-article-txt {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #8c8c8c;
  padding-left: 30px; }

.posts-article-link {
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  padding-left: 30px;
  position: relative; }

.posts-article-link::after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-left: 5px solid #c7b299;
  top: 4px;
  left: 116px; }

.posts-btn-wrp {
  width: 100%;
  text-align: center;
  align-self: flex-end; }

.posts-btn {
  background: transparent;
  outline: none;
  border: none;
  padding: 0; }

.posts-btn-img {
  fill: #d1d1d1; }

.posts-article:hover {
  background-color: #362f2d; }

.posts-article:hover .posts-article-img {
  filter: brightness(30%); }

.posts-article:hover .posts-date {
  background-color: #c7b299; }

.posts-article:hover .posts-month {
  background-color: #a48d72; }

.posts-article:hover .posts-article-title {
  color: #c7b299; }

.posts-article:hover .posts-article-txt {
  color: #ffffff; }

.posts-btn:hover .posts-btn-img {
  fill: #c7b299; }

.posts-btn:active .posts-btn-img {
  fill: #d1d1d1; }

/*# sourceMappingURL=style.css.map */
